<footer class="footer">
  <div class="u-container">
    <div class="flex-container">
      <div class="flex-container__row--40 .u-align-top">
        <div class="footer__logo-container sm-hide">
          <img
            src="assets/pages/svg/logo-text-dark-bg.svg"
            alt=""
            class="footer__logo"
          />
        </div>

        <!-- Mobile Footer Links-->
        <ul class="accordion" #accordion id="accordion-links">
          <li
            data-toggle="collapse"
            data-target="#accordion-product"
            class="collapsed"
          >
            <div class="d-flex justify-content-between align-items-center">
              PRODUCT

              <span class="icon">
                <svg
                  width="10"
                  height="9"
                  viewBox="0 0 10 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.82915 1.05592C9.66882 0.766107 9.4172 0.534493 9.11994 0.406215C8.91396 0.324259 8.29603 0.197169 8.28549 0.197169C7.61022 0.0688903 6.51245 0 5.29999 0C4.14488 0 3.09276 0.0688903 2.40694 0.173413C2.39524 0.185291 1.62985 0.313569 1.36652 0.452538C0.88552 0.707907 0.588257 1.20677 0.588257 1.74126V1.78758C0.59996 2.1356 0.897223 2.86607 0.908926 2.86607C1.41217 4.09659 2.97806 6.52319 4.01965 7.49716C4.01965 7.49716 4.28766 7.77272 4.45384 7.8915C4.69376 8.07798 4.99102 8.17062 5.28946 8.17062C5.62066 8.17062 5.92846 8.0661 6.18125 7.86893C6.22689 7.82261 6.42116 7.64801 6.5815 7.48647C7.58681 6.53388 9.23463 4.05027 9.7367 2.75086C9.81745 2.55369 9.98949 2.05364 10 1.78758C10 1.53221 9.94385 1.28754 9.82915 1.05592Z"
                    fill="white"
                  />
                </svg>
              </span>
            </div>

            <ul
              id="accordion-product"
              class="collapse"
              aria-labelledby="accordion-product"
              data-parent="#accordion-links"
            >
              <li>
                <a [routerLink]="['/features']" routerLinkActive="active"
                  >Features</a
                >
              </li>

              <li>
                <a>Primsol for Enterprise</a>
              </li>

              <li>
                <a [routerLink]="['/plans']">Pricing</a>
              </li>

              <li>
                <a [routerLink]="['/whats-new']">What’s New</a>
              </li>

              <li>
                <a [routerLink]="['/plans']" [queryParams]="{ view: 'faq' }"
                  >FAQs & Support</a
                >
              </li>
            </ul>
          </li>

          <li
            data-toggle="collapse"
            data-target="#accordion-company"
            class="collapsed"
          >
            <div class="d-flex justify-content-between align-items-center">
              COMPANY

              <span class="icon">
                <svg
                  width="10"
                  height="9"
                  viewBox="0 0 10 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.82915 1.05592C9.66882 0.766107 9.4172 0.534493 9.11994 0.406215C8.91396 0.324259 8.29603 0.197169 8.28549 0.197169C7.61022 0.0688903 6.51245 0 5.29999 0C4.14488 0 3.09276 0.0688903 2.40694 0.173413C2.39524 0.185291 1.62985 0.313569 1.36652 0.452538C0.88552 0.707907 0.588257 1.20677 0.588257 1.74126V1.78758C0.59996 2.1356 0.897223 2.86607 0.908926 2.86607C1.41217 4.09659 2.97806 6.52319 4.01965 7.49716C4.01965 7.49716 4.28766 7.77272 4.45384 7.8915C4.69376 8.07798 4.99102 8.17062 5.28946 8.17062C5.62066 8.17062 5.92846 8.0661 6.18125 7.86893C6.22689 7.82261 6.42116 7.64801 6.5815 7.48647C7.58681 6.53388 9.23463 4.05027 9.7367 2.75086C9.81745 2.55369 9.98949 2.05364 10 1.78758C10 1.53221 9.94385 1.28754 9.82915 1.05592Z"
                    fill="white"
                  />
                </svg>
              </span>
            </div>

            <ul
              id="accordion-company"
              class="collapse"
              aria-labelledby="accordion-company"
              data-parent="#accordion-links"
            >
              <li>
                <a href="http://lawpavilion.com/about" target="_blank"
                  >About us</a
                >
              </li>

              <li>
                <a
                  href="mailto:career@lawpavilion.com?subject=Primsol: Application to Work at LawPavilion"
                  >Career</a
                >
              </li>

              <li>
                <a href="https://lawpavilion.com/blog" target="_blank">Blog</a>
              </li>
            </ul>
          </li>

          <li
            data-toggle="collapse"
            data-target="#accordion-legal"
            class="collapsed"
          >
            <div class="d-flex justify-content-between align-items-center">
              LEGAL

              <span class="icon">
                <svg
                  width="10"
                  height="9"
                  viewBox="0 0 10 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.82915 1.05592C9.66882 0.766107 9.4172 0.534493 9.11994 0.406215C8.91396 0.324259 8.29603 0.197169 8.28549 0.197169C7.61022 0.0688903 6.51245 0 5.29999 0C4.14488 0 3.09276 0.0688903 2.40694 0.173413C2.39524 0.185291 1.62985 0.313569 1.36652 0.452538C0.88552 0.707907 0.588257 1.20677 0.588257 1.74126V1.78758C0.59996 2.1356 0.897223 2.86607 0.908926 2.86607C1.41217 4.09659 2.97806 6.52319 4.01965 7.49716C4.01965 7.49716 4.28766 7.77272 4.45384 7.8915C4.69376 8.07798 4.99102 8.17062 5.28946 8.17062C5.62066 8.17062 5.92846 8.0661 6.18125 7.86893C6.22689 7.82261 6.42116 7.64801 6.5815 7.48647C7.58681 6.53388 9.23463 4.05027 9.7367 2.75086C9.81745 2.55369 9.98949 2.05364 10 1.78758C10 1.53221 9.94385 1.28754 9.82915 1.05592Z"
                    fill="white"
                  />
                </svg>
              </span>
            </div>

            <ul
              id="accordion-legal"
              class="collapse"
              aria-labelledby="accordion-legal"
              data-parent="#accordion-links"
            >
              <li>
                <a>Terms &amp; Conditions</a>
              </li>

              <li>
                <a>Privacy</a>
              </li>
            </ul>
          </li>
          <li
            data-toggle="collapse"
            data-target="#accordion-care"
            class="collapsed"
          >
            <div class="d-flex justify-content-between align-items-center">
              Primsol Customer Care

              <span class="icon">
                <svg
                  width="10"
                  height="9"
                  viewBox="0 0 10 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.82915 1.05592C9.66882 0.766107 9.4172 0.534493 9.11994 0.406215C8.91396 0.324259 8.29603 0.197169 8.28549 0.197169C7.61022 0.0688903 6.51245 0 5.29999 0C4.14488 0 3.09276 0.0688903 2.40694 0.173413C2.39524 0.185291 1.62985 0.313569 1.36652 0.452538C0.88552 0.707907 0.588257 1.20677 0.588257 1.74126V1.78758C0.59996 2.1356 0.897223 2.86607 0.908926 2.86607C1.41217 4.09659 2.97806 6.52319 4.01965 7.49716C4.01965 7.49716 4.28766 7.77272 4.45384 7.8915C4.69376 8.07798 4.99102 8.17062 5.28946 8.17062C5.62066 8.17062 5.92846 8.0661 6.18125 7.86893C6.22689 7.82261 6.42116 7.64801 6.5815 7.48647C7.58681 6.53388 9.23463 4.05027 9.7367 2.75086C9.81745 2.55369 9.98949 2.05364 10 1.78758C10 1.53221 9.94385 1.28754 9.82915 1.05592Z"
                    fill="white"
                  />
                </svg>
              </span>
            </div>

            <ul
              id="accordion-care"
              class="collapse"
              aria-labelledby="accordion-care"
              data-parent="#accordion-links"
            >
              <li>
                <a>Reach out to us</a>
              </li>

              <li>
                <a href="http://wa.link/etl474">+2349028140318</a>
              </li>
              <li>
                <a href="http://wa.link/t3gdzc"> +2349083540561</a>
              </li>
              <li>
                <a
                  href="mailto:customercare@lawpavilion.com?subject=Primsol%20Inquiry"
                  >customercare@lawpavilion.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <!-- END of Mobile Footer Links-->

        <p class="footer__copy sm-hide">
          © 2022, LawPavilion Business Solution. All Rights Reserved.
        </p>

        <div class="footer__socials">
          <a
            href="https://www.linkedin.com/company/lawpavilion/"
            target="_blank"
            class="socials__link"
          >
            <img
              src="assets/pages/svg/socials/in.svg"
              alt=""
              class="footer__socials-icon--in"
            />
          </a>
          <a
            href="https://www.facebook.com/LawPavilion/"
            target="_blank"
            class="socials__link"
          >
            <img
              src="assets/pages/svg/socials/facebook.svg"
              alt=""
              class="footer__socials-icon--facebook"
            />
          </a>
          <a
            href="https://twitter.com/lawpavilion"
            target="_blank"
            class="socials__link"
          >
            <img
              src="assets/pages/svg/socials/twitter.svg"
              alt=""
              class="footer__socials-icon--twitter"
            />
          </a>
          <a
            href="https://www.instagram.com/lawpavilion/ "
            target="_blank"
            class="socials__link"
          >
            <img
              src="assets/pages/svg/socials/instagram.svg"
              alt=""
              class="footer__socials-icon--instagram"
            />
          </a>
        </div>
        <p class="footer__copy sm-show">
          © 2022, LawPavilion Business Solution. All Rights Reserved.
        </p>
        <!-- <p class="copy">© 2021 PRIMSOL FROM LAWPAVILION</p> -->
      </div>

      <div class="flex-container__row--60 flex-container sm-hide">
        <ul class="footer__list flex-container__full-row">
          <li class="footer__list-header">PRODUCT</li>
          <li class="footer__list-item">
            <a
              [routerLink]="['/features']"
              routerLinkActive="active"
              class="footer__list-link"
              >Features</a
            >
          </li>
          <!-- <li class="footer__list-item">
            <a [routerLink]="['/']" class="footer__list-link"
              >PrimSol for Enterprise</a
            >
          </li> -->
          <li class="footer__list-item">
            <a [routerLink]="['/plans']" class="footer__list-link">Pricing</a>
          </li>
          <li class="footer__list-item">
            <a [routerLink]="['/whats-new']" class="footer__list-link"
              >What’s New</a
            >
          </li>
          <li class="footer__list-item">
            <a
              [routerLink]="['/plans']"
              [queryParams]="{ view: 'faq' }"
              class="footer__list-link"
              >FAQs & Support</a
            >
          </li>
        </ul>
        <ul class="footer__list flex-container__full-row">
          <li class="footer__list-header">COMPANY</li>
          <li class="footer__list-item">
            <a
              href="http://lawpavilion.com/about-us.html"
              target="_blank"
              class="footer__list-link"
              >About us
            </a>
          </li>
          <li class="footer__list-item">
            <a
              href="mailto:career@lawpavilion.com?subject=Primsol: Application to Work at LawPavilion"
              class="footer__list-link"
              >Career</a
            >
          </li>
          <li class="footer__list-item">
            <a href="https://lawpavilion.com/blog" class="footer__list-link"
              >Blog</a
            >
          </li>
        </ul>
        <ul class="footer__list flex-container__full-row">
          <li class="footer__list-header">LEGAL</li>
          <li class="footer__list-item">
            <a
              [routerLink]="['/terms-and-conditions']"
              class="footer__list-link"
              >Terms & Conditions</a
            >
          </li>
          <li class="footer__list-item">
            <a [routerLink]="['/privacy-policy']" class="footer__list-link"
              >Privacy Policy</a
            >
          </li>
        </ul>
        <ul class="footer__list flex-container__full-row">
          <li class="footer__list-header">Primsol Care</li>
          <li class="footer__list-item">
            <a
              class="footer__list-link"
              >Reach out to us on</a
            >
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="http://wa.link/etl474">+2349028140318</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="http://wa.link/t3gdzc">+2349083540561</a>
          </li>
          <li class="footer__list-item">
            <a
              class="footer__list-link"
              href="mailto:customercare@lawpavilion.com?subject=Primsol%20Inquiry"
              >customercare@lawpavilion.com</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
