*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  line-height: unset;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.position-relative {
  position: relative;
}

.flex-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  &__full-row {
    flex: 1;

    &:not(:last-child) {
      margin-right: 4.5rem;
      @include respond(phone) {
        margin-right: 0;
      }
    }
  }
  &__row--65 {
    flex-basis: 65%;
  }
  &__row--35 {
    flex-basis: 35%;
  }
  &__row--60 {
    flex-basis: 60%;
  }
  &__row--30 {
    flex-basis: 40%;
  }
}

.form_line {
  width: -webkit-fill-available;
  border: 0.1rem solid rgba($dark, 0.1);
}
.pointer {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  &:hover {
    transform: (scale(1.03));
  }
}
