<div class="body">
  <!-- <div *ngIf="loading" class="load-page">
    <app-global-loader ></app-global-loader>
  </div> -->

  <section class="hero">
    <div class="u-container hero__container">
      <div class="hero__col" #heroFirstColumn>
        <h3 class="heading__3" id="heroHeading">
          All the features of <br />
          Prime and SAT in one <br />
          <span class="hero__focus">
            workspace
            <img
              src="assets/landing/svg/features-hero-line.svg"
              class="hero__focus-img"
              alt=""
            />
          </span>
        </h3>
      </div>
      <div class="hero__col">
        <div class="hero__img-center center" id="animation-wrapper">
          <img
            src="assets/landing/svg/hero-emoji-center.svg"
            alt="hero image"
            class="hero__img"
            #heroImg
          />
          <img
            src="assets/landing/svg/line-connector.svg"
            alt="hero image"
            id="line-connector"
            class="hero__img-connector"
            #heroImgConnector
          />
          <div class="" #emojiFeatures>
            <img
              src="assets/landing/svg/primsol-item.svg"
              alt="hero image"
              class="hero__item hero__item--1"
            />
            <img
              src="assets/landing/svg/check-list-item.svg"
              alt="hero image"
              class="hero__item hero__item--2"
            />
            <img
              src="assets/landing/svg/sat-item.svg"
              alt="hero image"
              class="hero__item hero__item--3"
            />
            <img
              src="assets/landing/svg/check-list-item-2.svg"
              alt="hero image"
              class="hero__item hero__item--4"
            />
            <img
              src="assets/landing/svg/prime-item.svg"
              alt="hero image"
              class="hero__item hero__item--5"
            />
            <img
              src="assets/landing/svg/window-item.svg"
              alt="hero image"
              class="hero__item hero__item--6"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="feature">
    <div class="u-container feature__container overflow-img" #section1>
      <div class="feature__col">
        <div class="feature__heading">
          Set up an account <br />
          with
          <span class="feature__focus feature__focus--blue">
            ease
            <div class="feature__focus-img-container center">
              <img
                src="assets/landing/svg/feature-circle-img.svg"
                alt=""
                class="feature__focus-img"
              />
            </div>
          </span>
        </div>
        <p class="feature__paragraph">
          Signup on LawPavilion store and use your email to login across our
          products, including Primsol. It will only take a few minutes to get
          started.
        </p>
      </div>
      <div class="feature__col">
        <img
          src="assets/landing/svg/feature-1-img.svg"
          alt=""
          class="feature__img"
        />
      </div>
    </div>
  </section>
  <section class="feature">
    <div class="u-container feature__container u-sm-reverse" #section2>
      <div class="feature__col">
        <img
          src="assets/landing/svg/feature-2-img.svg"
          alt=""
          class="feature__img"
        />
      </div>
      <div class="feature__col">
        <div class="feature__heading">
          Search without <br />
          <span class="feature__focus feature__focus--orange">
            limits
            <div class="feature__focus-img-container right-center">
              <img
                src="assets/landing/svg/blue-r-arrow-1.svg"
                alt=""
                class="feature__focus-img"
              />
              <span
                class="feature__focus-text feature__focus-text--blue right-center"
                >Vast Result</span
              >
            </div>
          </span>
        </div>
        <p class="feature__paragraph">
          Search across judgments, legislations, court rules, forms and
          agreement with exhaustive filters. Use search even without a
          subscription
        </p>
      </div>
    </div>
  </section>
  <section class="feature">
    <div class="u-container feature__container overflow-img" #section3>
      <div class="feature__col">
        <div class="feature__heading">
          Use across <br />
          different
          <span class="feature__focus feature__focus--blue"
            >devices
            <div class="feature__focus-img-container right-top">
              <img
                src="assets/landing/svg/blue-r-arrow-double.svg"
                alt=""
                class="feature__focus-img"
              />
              <span
                class="feature__focus-text feature__focus-text--blue top-left"
                >ios</span
              >
              <span
                class="feature__focus-text feature__focus-text--blue bottom-right"
                >andriod</span
              >
            </div>
          </span>
          <br />
          and
          <span class="feature__focus feature__focus--orange"
            >platforms
            <div class="feature__focus-img-container right-center-2">
              <img
                src="assets/landing/svg/orange-r-arrow-double.svg"
                alt=""
                class="feature__focus-img"
              />
              <span class="feature__focus-text feature__focus-text--orange"
                >chrome</span
              >
              <span
                class="feature__focus-text feature__focus-text--orange bottom-right"
                >safari</span
              >
            </div>
          </span>
        </div>
        <p class="feature__paragraph">
          Search across judgments, legislations, court rules, forms and
          agreement with exhaustive filters. Use search even without a
          subscription
        </p>
      </div>
      <div class="feature__col">
        <img
          src="assets/landing/svg/feature-3-img.svg"
          alt=""
          class="feature__img"
        />
      </div>
    </div>
  </section>
  <section class="feature">
    <div class="u-container feature__container u-sm-reverse" #section4>
      <div class="feature__col">
        <img
          src="assets/landing/svg/feature-4-img.svg"
          alt=""
          class="feature__img"
        />
      </div>
      <div class="feature__col">
        <div class="feature__heading">
          An intuitive online <br />
          form you can <br />
          <span class="feature__focus feature__focus--blue">
            customize
            <div class="feature__focus-img-container center">
              <img
                src="assets/landing/svg/feature-circle-img-2.svg"
                alt=""
                class="feature__focus-img"
              />
            </div>
          </span>
          to your <br />client’s delight
        </div>
        <p class="feature__paragraph">
          With access to over 4,000 court forms and agreements, you no longer
          need to manually print out the document and manually enter the
          necessary data, you can just edit and customize on the go.
        </p>
      </div>
    </div>
  </section>

  <section class="cta">
    <div class="u-container">
      <h2 class="heading__2 cta__heading">
        Choose a better path for your <br />
        legal practice
      </h2>
      <div class="btn__group btn__group--inline">
        <!-- <button class="btn btn__cta btn__cta--inverted">Try Primsol</button> -->
        <a
          href="mailto:LawPavilion Sales<sbd@lawpavilion.com>?subject=Inquiry:Buy Primsol&body=Hello!%0a%0aI would love to have a discussion on Primsol with you.%0a%0aThank you."
          class="btn btn__cta"
          >Contact Sales</a
        >
      </div>
    </div>
  </section>
</div>
