<section class="container">
  <div class="d-flex flex-row containter_body">
    <div class="address">
      <div class="address_wrapper">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Lagos address</h3>
            <p class="card-text">
              20 Felicia Koleosho Street, Off Agbaoku Street, Awosika Bus Stop,
              Opebi, Ikeja, Lagos, Nigeria.
            </p>
            <p class="tel">+234 8050298724 &nbsp; &nbsp; +234 8050298727</p>
            <p class="tel">+234 8050298540 &nbsp; &nbsp; +234 9057196857</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Ibadan address</h3>
            <p class="card-text">
              Suite C7, 2nd Floor, Choice Plaza, Beside CRAN Pharmacy,
              ChalLenge, Ibadan, Oyo State.
            </p>
            <p class="tel">+234 8050298542</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Abuja address</h3>
            <p class="card-text">
              24, I.T Igbani Street, behind Jabi Upstairs, Jabi,Abuja.
            </p>
            <p class="tel">+234 8052496926 &nbsp; &nbsp; +234 8052496932</p>
            <p class="tel">+234 8050298726</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Portharcourt address</h3>
            <p class="card-text">
              Suite 201, 1124 Plaza45, Oromenike Street, D/line. Port-Harcourt.
            </p>
            <p class="tel">+234 8050298728</p>
          </div>
        </div>
      </div>
    </div>
    <div class="get_in_touch">
      <div class="wrapper">
        <h3>Get in touch</h3>
        <p>
          Fill in your details below to arrange a call back and discover more
          about our innovative approach to digital learning.
        </p>
        <form [formGroup]="mailForm" (ngSubmit)="submitForm()">
          <div class="form-row">
            <div class="form-group col-sm-12 col-lg-6">
              <input
                type="text"
                class="form-control"
                formControlName="first_name"
                [ngClass]="
                  first_name.errors?.required &&
                  (first_name.dirty || first_name.touched)
                    ? 'dirty'
                    : ''
                "
                placeholder="First Name"
              />
              <ng-container
                *ngIf="
                  first_name.errors?.required &&
                  (first_name.dirty || first_name.touched)
                "
              >
                <small
                  class="help-block text-danger sm-show mt-2"
                  *ngIf="first_name.errors?.required"
                  >First name is required</small
                >
              </ng-container>
            </div>

            <div class="form-group col-sm-12 col-lg-6">
              <input
                type="text"
                class="form-control"
                formControlName="last_name"
                [ngClass]="
                  last_name.errors?.required &&
                  (last_name.dirty || last_name.touched)
                    ? 'dirty'
                    : ''
                "
                placeholder="Last Name"
              />
              <ng-container
                *ngIf="
                  last_name.errors?.required &&
                  (last_name.dirty || last_name.touched)
                "
              >
                <small
                  class="help-block text-danger sm-show mt-2"
                  *ngIf="last_name.errors?.required"
                  >Last name is required</small
                >
              </ng-container>
            </div>
          </div>

          <div class="form-group">
            <input
              type="test"
              class="form-control"
              formControlName="subject"
              [ngClass]="
                subject.errors?.required && (subject.dirty || subject.touched)
                  ? 'dirty'
                  : ''
              "
              placeholder="Subject"
            />
            <ng-container
              *ngIf="
                subject.errors?.required && (subject.dirty || subject.touched)
              "
            >
              <small
                class="help-block text-danger sm-show mt-2"
                *ngIf="subject.errors?.required"
                >Subject is required</small
              >
            </ng-container>
          </div>

          <div class="form-group">
            <input
              type="email"
              class="form-control"
              formControlName="email"
              [ngClass]="
                (email.errors?.required && (email.dirty || email.touched)) ||
                email.errors?.pattern
                  ? 'dirty'
                  : ''
              "
              placeholder="Email"
            />
            <ng-container
              *ngIf="
                (email.errors?.required && (email.dirty || email.touched)) ||
                email.errors?.pattern
              "
            >
              <small
                class="help-block text-danger sm-show mt-2"
                *ngIf="email.errors?.required"
                >Email is required</small
              >
              <small
                class="help-block text-danger sm-show mt-2"
                *ngIf="email.errors?.pattern"
                >Please provide a valid email address</small
              >
            </ng-container>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              formControlName="number"
              placeholder="Phone Number"
            />
          </div>

          <div class="form-group">
            <textarea
              name=""
              id=""
              placeholder="Message"
              [ngClass]="
                message.errors?.required && (message.dirty || message.touched)
                  ? 'dirty'
                  : ''
              "
              formControlName="message"
            ></textarea>
            <ng-container
              *ngIf="
                message.errors?.required && (message.dirty || message.touched)
              "
            >
              <small
                class="help-block text-danger sm-show mt-2"
                *ngIf="message.errors?.required"
                >Message is required</small
              >
            </ng-container>
          </div>
          <button class="btn btn-primary btn-lg" [disabled]="mailForm.invalid">
            Send
            <span
              class="spinner-border spinner-border-lg"
              role="status"
              aria-hidden="true"
              *ngIf="isLoading"
            ></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
