@import "../../partials/mixins";

$color-text: #061238;
.heading {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.1rem;
  text-align: center;
  margin-bottom: 3.7rem;

  color: #061238;
}
.form {
  &__group {
    &--inline {
      display: grid;
      grid-template-columns: max-content min-content;
      grid-gap: 2rem;
      @include respond(tab-sm) {
        grid-template-columns: 1fr;
      }
    }
  }
  &__input {
    height: 5.6rem;
    width: 35.7rem;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-radius: 0.5rem;
    padding: 1.8rem;
    &--otp {
      border: 1px solid #e4e4e4;
      box-sizing: border-box;
      border-radius: 0.5rem;
      width: 5.6rem;
      height: 5.6rem;
      font-weight: 500;
      font-size: 3.2rem;
      line-height: 4.2rem;
      text-align: center;
      color: #061238;
      @include respond(tab-mid) {
        width: 4.6rem;
        height: 4.6rem;
      }
      @include respond(tab-sm) {
        width: 4rem;
        height: 4rem;
      }

      &:not(:last-child) {
        margin-right: 1.6rem;
        @include respond(phone) {
          margin-right: unset;
        }
      }
      @include respond(phone) {
        width: 3.2rem;
        height: 3.2rem;
      }
      &:focus {
        border: 1px solid #00adff;
      }
    }
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input__group {
  @include respond(phone) {
    max-width: 36.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.btn__primary {
  padding: 1.75rem 5rem;
  background: #00adff;
  border-radius: 0.5rem;
  border: unset;
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: capitalize;
  line-height: 2.1rem;
  color: #ffffff;
  transition: all;
  display: flex;
  align-items: center;
  max-height: 5.6rem;
  width: 100%;
  justify-content: center;
  @include respond(phone) {
    width: 100%;
    margin-top: 8px;
    justify-content: center;
  }
  &--appended {
    padding: 0.4rem 1.6rem;
    font-size: 1.4rem;
    line-height: 2rem;
    background: rgba(0, 173, 255, 0.1);
    border-radius: 1px;
    color: #00adff;
  }

  & > :not(:last-child) {
    margin-right: 1.5rem;
  }
  &:not(:disabled):not(.disabled).active {
    border-color: unset;
  }
  &:disabled {
    background: #f5f7fa;
    color: #99a3b6;
    border-color: #99a3b6;
    cursor: not-allowed;
  }
}

.form {
//   margin-bottom: 4.2rem;
  &__group {
  }

  & > :not(:last-child) {
    margin-bottom: 1.2rem;
  }

  & a {
    color: #00adff;
  }

  &__input {
    height: 5.6rem;
    width: 100%;
    color: #233b58;
    @include respond(phone) {
      width: 100%;
    }
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-radius: 0.5rem;
    padding: 1.8rem;

    &--faux {
      display: flex;
      align-items: center;
      max-width: 35.7rem;
      padding-right: 1rem;
      
      & >:not(:last-child){
        margin-right: 2rem;
      }
      p {
        margin: unset;
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: $color-text;
        @include ellipsis;
      }
      button {
        width: fit-content;
        margin-left: auto;
      }
    }

    &:focus {
      border-color: #00adff;
      box-shadow: 0 0 0 0.2rem rgba(0, 173, 255, 0.1);
    }

    &.dirty {
      border-color: #ff6a6a !important;
      box-shadow: 0 0 0 0.2rem rgba(#ff6a6a, 0.1) !important;
    }
  }
}
.input__appendContainer {
  position: relative;
  width: 100%;
  max-width: 35.7rem;
  @include respond(tab-land){
    max-width: unset;
  }
  & + small {
    display: block;
    max-width: 35.7rem;
  }
}

.append {
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  right: 1.2rem;
}
.isAppend {
  padding-right: 9rem;
  @include ellipsis;
  &.withButton {
    padding-right: 10rem;
  }
}

.action {
  margin-top: 2.4rem;

  &__sub-text {
    max-width: 35.7rem;
    display: flex;
    & > :not(:last-child) {
      margin-right: auto;
    }
  }
}

.btn-inline {
  cursor: pointer;
  color: $color-text;
  font-size: 1.4rem;
  &.disabled {
    color: #99a3b6;
    cursor: not-allowed;
  }
  &:not(.disabled) {
    text-decoration: underline;
  }
  &:not(.disabled):hover {
    color: #00adff;
  }
  &--blue {
    color: #00adff;
  }
  &--red {
    color: #fe4141 !important;
  }
}
.u-mla{
  margin-left: auto;
}