<div class="wrapper">
  <h3 class="wrapper-heading">Verification Code</h3>
  <p class="wrapper-paragraph">
    Enter the 6 digits Verification code sent to your email to continue.
  </p>

  <form>
    <div class="form_group">
      <input
        type="text"
        id="code"
        class="form-control"
        placeholder="Enter Verification Code"
        (keyup)="checkForKeyEnter($event)"
      />
      <div class="invalid-feedback">Required</div>
    </div>
    <div class="form_group">
      <button class="btn_text btn_md btn_full" disabled>Resend in 0:05</button>
    </div>
    <div class="form_group">
      <button class="btn_primary btn_md btn_full">Continue</button>
    </div>
  </form>
</div>
