<div class="wrapper">
  <h3 class="wrapper-heading">Reset Password</h3>
  <p class="wrapper-paragraph">
    Create a new secured password you can easily remember.
  </p>

  <form>
    <div class="form_group">
      <label for="password" class="form-label">New Password </label>
      <input
        type="password"
        id="password"
        class="form-control"
        placeholder="Enter New Password"
        (keyup)="checkForKeyEnter($event)"
        autocomplete="new-password"
      />
      <div class="invalid-feedback">Required</div>
    </div>
    <div class="form_group">
      <label for="confirm" class="form-label">Confirm Password </label>
      <input
        type="password"
        id="confirm"
        class="form-control"
        placeholder="Re-enter New Password"
        (keyup)="checkForKeyEnter($event)"
        autocomplete="new-password"
      />
      <div class="invalid-feedback">Required</div>
    </div>

    <div class="form_group">
      <button class="btn_primary btn_md btn_full">Reset Password</button>
    </div>
  </form>
</div>
