<div class="wrapper">
  <h3 class="wrapper-heading">Forgot Password?</h3>
  <p class="wrapper-paragraph">
    Enter the email you used to register to get a password reset link.
  </p>

  <form>
    <div class="form_group">
      <label for="email" class="form-label">Email </label>
      <input
        type="email"
        id="email"
        class="form-control"
        placeholder="Enter Your Email Address"
        (keyup)="checkForKeyEnter($event)"
        autocomplete="email"
      />
      <div class="invalid-feedback">Required</div>
      <div class="invalid-feedback">Enter a valid email</div>
    </div>
    <div class="form_group">
      <button class="btn_text btn_md btn_full" disabled>Resend in 0:05</button>
    </div>
    <div class="form_group">
      <button
        class="btn_primary btn_md btn_full"
        [routerLink]="['/reset']"
        routerLinkActive="active"
      >
        Send Link
      </button>
    </div>
    <p
      class="wrapper-already"
      [routerLink]="['/login']"
      routerLinkActive="active"
    >
      I remember my password <span>Sign In</span>
    </p>
  </form>
</div>
